html, body {
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  font-family: 'Courier new', serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier new', serif;
}

h1.title {
  color: #FFFFFF;
  font-size: 1px;

  }

/* footer */

.navbar-default {
  background-color:#000000;
  font-family: 'Courier new', serif;
}


.navbar-brand {
  font-family: 'Courier new', serif;
  font-weight: 300;
  font-size: 24px;
  height: 100%;
}

/* footer */

#rbmvFooter {
  z-index: 2;
  box-sizing: border-box;
  height: 30em;
}

#rbmvFooter.footer {
  color: #d1420e; /* orange */
  background-color: #111111;
  padding: 4% 8%;
  margin-top: 7em;
  box-shadow: 0px 3px 50px 0px rgba(43,45,66,0.4);
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

#rbmvFooter .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

#scrollTop {
  color: #FFFFFF!important; /* white */
}

.footerContent {
  color: var(--dark-grey);
  font-size: 16px;
}

.footerContent a {
  color: var(--dark-grey);
}

.footerContent a:hover {
  color: var(--light-grey);
}


/*collapsible - add specifications for <details> tag*/

 summary::-webkit-details-marker {
 color: #d1420e;
 font-size: 125%;
 margin-right: 2px;
}
summary:focus {
	outline-style: none;
}

/* == FOLDED CORNERS  http://nicolasgallagher.com/pure-css-folded-corner-effect/*/

      .note {
          position:relative;

          padding:0.5em 0.5em;
          margin:1em auto;
          color:#ffffff;
          background:#97C02F;
          overflow:hidden;
      }

      .note:before {
          content:"";
          position:absolute;
          top:0;
          right:0;
          border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
          border-style:solid;
          border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
          background:#658E15; /* For when also applying a border-radius */
          display:block; width:0; /* Only for Firefox 3.0 damage limitation */
          /* Optional: shadow */
          -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
          -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
      }

      .note.new {background:#d17453; color:#000000;}
      .note.new:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

      .note.red {background:#5e5451;}
      .note.red:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

      .note.blue {background:#53A3B4;}
      .note.blue:before {border-color:#fff #fff transparent transparent; background:transparent;}

      .note.taupe {background:#999868;}
      .note.taupe:before {border-color:#fff #fff #BDBB8B #BDBB8B; background:#BDBB8B;}

      /* ROUNDED CORNERS VERSION
       * All modern browsers can produce this effect with a single pseudo-element.
       * However, they all have bugs (mainly to do with border-radius) that make this a bit tricky.
       * As far as I can tell, this is the only cross-browser method for the moment.
       * Can't use this method for the simple effect because Opera 11 will only show backgrounds
       * through transparent borders if there is a border-radius applied.
       */

      .note.rounded {
          -webkit-border-radius:5px 0 5px 5px;
          -moz-border-radius:5px 0 5px 5px;
          border-radius:5px 0 5px 5px;
      }

      .note.rounded:before {
          border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
          border-color:#fff #fff transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
          -webkit-border-bottom-left-radius:5px;
          -moz-border-radius:0 0 0 5px;
          border-radius:0 0 0 5px;
      }

      .note p {margin:0;}
      .note p + p {margin:1.5em 0 0;}
    </style>


/*fancy collapsible https://alligator.io/css/collapsible/ */

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

div.wrap-collabsible a:link {
  color: #93d9e2;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  padding: 1rem;
  color: #ffffff;
  background: #7d8c8e;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  background: #d1420e;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 500px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #e1ebed;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

/*parallax*/

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.row-full{
width: 100vw;
position: relative;
margin-left: -50vw;
height: 100px;
margin-top: -50px;
margin-bottom: 550px;
left: 50%;
}
