
.remark-slide-number {
  position: fixed;
  top: 0px;
  left: 0px;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 10;
  height: 8px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}
